<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>About</title>
</head>
<body>
    <h1>LeBron James</h1>

    <img class="about-img" src="https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_xl_2x/f_auto/primary/c5r52rbifxn2srhp9no0" alt="">

    <p>LeBron was born in Akron, OH. He is the G.O.A.T. of basketball. He's a billionaire business man.</p>


    <a href="/home">Home Page</a>
    
</body>
</html>