<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to LeBron Jame's Page</h1>

    <img class="home-img"src="https://cdn.nba.com/teams/uploads/sites/1610612747/2022/08/2223_lal_mktg_bronextension_1600x900-1.jpg" alt="">
    <br>
    <a href="/about">About LeBron</a>
    <br>
    <br>
    <a href="/works">LeBron's Work</a>
</body>
</html>