<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Works</title>
</head>
<body>
    <h1>LeBron's Work</h1>

    <ul>
        <li>x4 NBA Champion</li>
        <li>x4 NBA MVP</li>
        <li>Olympic Gold Medalist</li>
        <li>Billionaire</li>
        <li>Multi-Business Entrepreneur</li>
        <li>James Family Foundation</li>
    </ul>
    <img class="work-img" src="https://ca-times.brightspotcdn.com/dims4/default/7be9a77/2147483647/strip/true/crop/3548x2516+0+0/resize/1200x851!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fcf%2F67%2F74ef656743528f2f9f7ce02d8dc1%2Fla-photos-1staff-477386-sp-0107-lakers-knicks4-wjs.jpg" alt="">
    <br>
    <br>
    <a href="/home">Home Page</a>
</body>
</html>